<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> 

    <title><%= (typeof title != "undefined" ? title : "Trip Roster") %></title>

    <script type="text/javascript" src="\js\lib\jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type='text/css' href="/css/style.css" />
    <script src="/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/js/head.js"></script>
  </head>
  <body>
    <div class="ui secondary pointing menu">
      <% if (locals.user) { %>
        <a class="item" href="/" id="home-item">
          <i class="home icon"></i> Home
        </a>
        <% if (locals.user.admin) { %>
          <a class="item" href="/teams" id="teams-item">
            <i class="hockey puck icon"></i> Teams
          </a>
        <% } else { %>
          <% if (locals.user.teams.length == 0) { %>
          
          <% } else if(locals.user.teams.length > 1) { %>
            <a class="item" href="/teams" id="teams-item">
              <i class="hockey puck icon"></i> Teams
            </a>
          <% } else { %>
            <a class="item" href="/team/<%= locals.user.teams %>" id="team-item">
              <i class="hockey puck icon"></i> Team
            </a>
          <% } %>
        <% } %>
        <div class="right menu">
          <a class="ui item" href="/user/<%= locals.user._id %>">
            <%= locals.user.name.split(' ')[0] %>
          </a>
          <a class="ui browse item" style="padding-left: 0;">
            <i class="dropdown icon"></i>
          </a>
          <div class="ui fluid popup bottom left transition hidden">
            <% if (locals.user.admin) { %>
              <a class="item" href="/associations">
                Associations
              </a>
              <a class="item" href="/users">
                Users
              </a>
            <% } %>
            <a class="item" href="/logout">
              Logout
            </a>
          </div>
        </div>
      <% } else { %>
        <a class="item" href="/" id="home-item">
          <i class="home icon"></i> Home
        </a>
        <div class="right menu">
          <a class="item" href="/login" id="login-item">
            Login
          </a>
        </div>
      <% } %>
    </div>
    <div class="ui container">
      <% if (messages.error) { %>
        <div class="ui negative message" id="alert-box">
          <i class="close icon" id="alert-close"></i>
          <div class="header">
            <%= messages.error %>
          </div>
        </div>
      <% } %>