<% include partial/head %>

  <% if (locals.user) { %>
    
    <script src="/js/lib/mustache.js"></script>
    <script src="/js/index.js"></script>

    <h1 class="ui header center aligned">
      Trip Roster
    </h1>

    <% if ((typeof currentTripArray != 'undefined' && Object.keys(currentTripArray).length > 0) || (typeof tripArray != 'undefined' && Object.keys(tripArray).length > 0) || (typeof teamArray != 'undefined' && Object.keys(teamArray).length > 0)) { %>
      <% if (typeof currentTripArray != 'undefined' && Object.keys(currentTripArray).length > 0) { %>
        <h3 class="ui header">Ongoing Trip(s)</h3>
        <div class="ui divider"></div>
        <% for (var i in currentTripArray) { %>
          <div class="ui clearing segment">
            <a href="/trip/<%= tripArray[i]._id %>"><b><%= currentTripArray[i].destination %></b></a>
              - <%= currentTripArray[i].stringifiedDate %>
            <% if (Object.keys(teamArray).length > 1) { %>
              <p><%= teamArray[currentTripArray[i].team].name %> - <%= teamArray[currentTripArray[i].team].age %> <%= teamArray[currentTripArray[i].team].league %></p>
            <% } %>
          </div>
        <% } %>
      <% } %>
  
      <% if (typeof tripArray != 'undefined' && Object.keys(tripArray).length > 0) { %>
        <h3 class="ui header">Upcoming Trip(s)</h3>
        <div class="ui divider"></div>
        <% for (var i in tripArray) { %>
          <div class="ui clearing segment">
            <a href="/trip/<%= tripArray[i]._id %>"><b><%= tripArray[i].destination %></b></a>
              - <%= tripArray[i].stringifiedDate %>
            <% if (Object.keys(teamArray).length > 1) { %>
              <p><%= teamArray[tripArray[i].team].name %> - <%= teamArray[tripArray[i].team].age %> <%= teamArray[tripArray[i].team].league %></p>
            <% } %>
          </div>
        <% } %>
      <% } %>
  
      <% if (typeof teamArray != 'undefined' && Object.keys(teamArray).length > 0) { %>
        <h3 class="ui header">Team(s)</h3>
        <div class="ui divider"></div>
        <% for (var i in teamArray) { %>
          <div class="ui clearing segment">
            <div class="ui right floated mini button" id="trip-form-button-<%= i %>" onclick="loadTripForm('<%=i%>');">Start Trip</div>
            <a href="/team/<%= teamArray[i]._id %>"><b><%= teamArray[i].name %></b></a>
            <div id="trip-form-div-<%=i%>"></div>
          </div>
        <% } %>
      <% } %>
    <% } else { %>
      <div class="ui center aligned middle aligned grid green segment" style="margin-top: 15vh; padding: 2em;">
        <div class="ui header">
          You have successfully signed up and must now wait to be given permissions by your selected Association Director
        </div>
        <% if (user.association) { %>
          <div class="ui green inverted stacked segment">
              <div class="ui sub header">
                <u>Your Association</u></br>
                <%= associationArray[user.association].name %>
              </div>
          </div>
        <% } %>
      </div>
    <% } %>

    </div>

  <% } else { %>

  <style>
    .ui.container {
      padding: 0 !important;
      margin: 0 !important;
      width: 100vw;
    }
    .ui.secondary.menu {
      margin-bottom: 0.4em;
    }
  </style>

  <div class="masthead segment">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library">Trip Roster</span>
      </h1>
      <div class="ui hidden divider"></div>
      <a href="/signup" class="ui huge inverted basic button">Signup Now</a>
      <p class="or">or</p>
      <a href="/login" class="ui huge inverted basic button">Login</a>
    </div>
  </div>

  <div class="ui vertical stripe intro segment">
    <div class="introduction">
      <div class="row">
        <div class="seven wide column">
          <div class="row">
            <img class="ui image home" src="/assets/images/ooaa_logo.png">
          </div>
          <h1 class="ui header">Easily Record Bus Attendance</h1>
          <p>Trip Roster is a website used record who is on bus trips and provide the collected information to the relevant association</p>
        </div>
      </div>
    </div>
  </div>

  <% } %>

<% include partial/foot %>

<script id="trip-form-template" type="text/template">
  <div id="trip-form-{{teamId}}">
    <div class="ui divider"></div>
    <div class="ui center aligned middle aligned grid segment" style="margin: 0;">
      <div class="column">
        <h2 class="ui header" style="color: green;" >
          <div class="content">
            Create a Trip
          </div>
        </h2>
        <form class="ui large form" action="/trip" method="post" >
          <div class="ui stacked segment">
            <div class="two fields">
              <div class="field">
                <label style="float: left;"><b>Destination</b></label>
                <div class="ui left icon input">
                  <i class="map icon"></i>
                  <input id="destination-form" type="text" name="destination" placeholder="Where is the trip?">
                </div>
              </div>
              <div class="field">
                <label style="float: left;">Date</label>
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input id="date-form" type="date" name="date">
                </div>
              </div>
            </div>
            <input type="hidden" name="team" value="{{teamId}}">
            <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Create</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>