<% include ../partial/head %>

<script src="/js/team.js"></script>
<script src="/js/lib/mustache.js"></script>

<h1 class="ui header"><%= team.name %></h1>
<p><%= team.age %> <%= team.league %></p>

<div class="ui green segment">
  <div class="ui segment">

    <div class="ui grid">
      <div class="fourteen wide column">
        <h5 class="header">Association</h5>
      </div>
      <div class="two wide column">
        <% if (locals.user.admin == true || locals.user.association == team.association) { %>
          <a href="" onclick="loadAssociationForm('<%= team.association %>', '<%= team._id %>'); return false;" id="edit-button-holder" style="float: right;"><i id="edit-button-<%= team._id %>" class="edit icon black"></i></a>
        <% } %>
      </div>
    </div>
    <div id="association-form-div-<%= team._id %>"></div>
    <% if (team.association) { %>
      <%= associationArray[team.association].name %>
    <% } %>
  </div>
  
  <div class="ui segment">
    <div class="ui grid">
      <div class="fourteen wide column">
        <h5 class="header">Manager(s)</h5>
      </div>
      <div class="two wide column">
        <% if (locals.user.admin == true || locals.user.director == team.association) { %>
          <a href="" onclick="loadManagerForm('<%= team.managers %>'); return false;" id="edit-button-holder" style="float: right;"><i id="edit-button" class="edit icon black"></i></a>
        <% } %>
      </div>
    </div>
    <div id="manager-form-div"></div>
    <div class="ui celled list">
      <% if (team.managers) { %>
        <% team.managers.forEach((manager) => { %>
          <div class="item" style="padding: 1em;">
            <a href="/user/<%= userArray[manager]._id %>"><%= userArray[manager].name %></a>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui grid">
      <div class="fourteen wide column">
        <h5 class="header">Bus Companies</h5>
      </div>
      <div class="two wide column">
        <a href="" onclick="loadBusForm(); return false;" id="bus-form-button-holder" style="float: right;"><i id="bus-form-button" class="plus icon black"></i></a>
      </div>
    </div>
    <div id="bus-form-div"></div>
    <% if (team.association) { %>
      <% var busArray = team.busCompanies.concat(associationArray[team.association].busCompanies) %>
    <% } %>
    <% if (busArray && busArray.length > 0) { %>
      <div class="ui celled list">
        <% busArray.forEach((busCompany) => { %>
          <div class="item" style="padding: 1em;">
            <div class="ui grid">
              <div class="fourteen wide column">
                <%= busCompany %>
              </div>
              <% if (team.busCompanies.indexOf(busCompany) != -1) { %>
                <div class="two wide column">
                  <a href="" onclick="loadBusEditForm('<%= busCompany %>', '<%= busCompany.replace(/\s+/g, '-').toLowerCase(); %>'); return false;" id="bus-<%= busCompany.replace(/\s+/g, '-').toLowerCase(); %>-edit-form-button-holder" style="float: right;"><i id="bus-<%= busCompany.replace(/\s+/g, '-').toLowerCase(); %>-edit-form-button" class="edit icon black"></i></a>
                </div>
              <% } else { %>
                <div class="two wide column">
                  <% if (associationArray[team.association].abbreviation) { %>
                    <%= associationArray[team.association].abbreviation %>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
          <div id="<%= busCompany.replace(/\s+/g, '-').toLowerCase(); %>-edit-div"></div>
        <% }); %>
      </div>
    <% } %>
  </div>

  <% if (locals.user.director && team.association.toString() == locals.user.director.toString() && locals.user.admin == true) { %>
    <div class="ui segment">
      <div class="ui grid">
          <div class="twelve wide column">
            <h5 class="header">Team Login Account</h5>
          </div>
          <div class="four wide column" id="account-form-button-holder">
            <% if (!teamAccount) { %>
              <div class="ui right floated mini button" id="account-form-button" onclick="loadAccountForm(); return false;">Create Account</div>            
            <% } else { %>
              <div class="ui right floated mini button" id="account-edit-form-button" onclick="loadAccountEditForm(); return false;">Edit Account</div>            
            <% } %>
          </div>
        </div>
        <% if (teamAccount) { %>
          <div class="ui divider"></div>
          <b>Name: </b><%= teamAccount.name %>
          <p><b>Email: </b><%= teamAccount.email %></p>
        <% } %>
        <div id="account-form-div"></div>
        <div id="account-edit-form-div"></div>
    </div>
  <% } %>

</div>

<div class="ui green segment">
  <div class="ui grid">
    <div class="fourteen wide column">
      <h5 class="header"><i class="car icon black"></i>Trips</h5>
    </div>
    <div class="two wide column">
      <a href="" onclick="loadTripForm(); return false;" id="trip-form-button-holder" style="float: right;"><i id="trip-form-button" class="add icon black"></i></a>
    </div>
  </div>
  <div id="trip-form-div"></div>
  <div class="ui celled list">
    <% if (team.trips) { %>
      <% team.trips.forEach((trip) => { %>
        <div class="item" style="padding: 1em;">
          <div class="ui grid">
            <div class="fourteen wide column">
              <a href="/trip/<%= tripArray[trip]._id %>"><b><%= tripArray[trip].destination %></b></a>
              <p><%= tripArray[trip].stringifiedDate %></p>
              <% if (tripArray[trip].busCompany) { %>
                <%= tripArray[trip].busCompany %>
              <% } %>
            </div>
            <div class="two wide column">
              <a href="" onclick="loadTripEditForm('<%= tripArray[trip]._id %>', '<%= tripArray[trip].destination %>', '<%= inputDateArray[trip] %>'); return false;" id="trip-edit-form-button-holder" style="float: right;"><i id="trip-<%= tripArray[trip]._id %>-edit-form-button" class="edit icon black"></i></a>
            </div>
          </div>
          <div id="trip-<%= tripArray[trip]._id %>-edit-form-div"></div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>

<div class="ui green segment">
  <div class="ui grid">
    <div class="fourteen wide column">
      <h5 class="header"><i class="id card outline icon black"></i>Team Members</h5>
    </div>
    <div class="two wide column">
      <a href="" onclick="loadMemberForm(); return false;" id="member-button-holder" style="float: right;"><i id="member-button" class="id add icon black"></i></a>
    </div>
  </div>
  <div id="member-form-div"></div>
  <div class="ui list">
    <% if (typeof memberArray != 'undefined') { %>
      <% team.members.forEach((member) => { %>
        <% if (memberArray[member].player == true) { %>
          <div class="ui segment">
            <a href="" id="member-<%= member %>-edit-button-holder" onclick="loadMemberEditForm('<%= member %>', '<%= memberArray[member].relationships %>'); return false;" style="float:right;"><i id="member-<%= member %>-edit-button" class="edit black icon floated right"></i></a>
            <%= memberArray[member].name %>
            <% var id = member; var name = memberArray[member].name; var phoneNumber = memberArray[member].phoneNumber; var emergencyName = memberArray[member].emergencyName; var emergencyPhone = memberArray[member].emergencyPhone; var player = memberArray[member].player; var array = memberArray %>
            <% include ../partial/memberEditForm %>
            <div class="ui celled list">
              <% memberArray[member].relationships.forEach((rel) => { %>
                <div class="item" style="padding: 1em;">
                  <a href="" id="member-<%= rel %>-edit-button-holder" onclick="loadMemberEditForm('<%= rel %>', '<%= memberArray[rel].relationships %>');return false;" style="float:right;"><i id="member-<%= rel %>-edit-button" class="edit black icon floated right"></i></a>
                  <%= memberArray[rel].name %>
                  <% var id = rel; var name = memberArray[rel].name; var phoneNumber = memberArray[rel].phoneNumber; var emergencyName = memberArray[rel].emergencyName; var emergencyPhone = memberArray[rel].emergencyPhone; var player = memberArray[rel].player; var array = memberArray %>
                  <% include ../partial/memberEditForm %>
                </div>
              <% }); %>
            </div>
          </div>
        <% } %>
        <% if (memberArray[member].relationships == '' && memberArray[member].player == false) { %>
          <div class="ui segment">
            <a href="" id="member-<%= member %>-edit-button-holder" onclick="loadMemberEditForm('<%= member %>', '<%= memberArray[member].relationships %>');return false;" style="float:right;"><i id="member-<%= member %>-edit-button" class="edit black icon floated right"></i></a>
            <%= memberArray[member].name %>
            <% var id = member; var name = memberArray[member].name; var phoneNumber = memberArray[member].phoneNumber; var emergencyName = memberArray[member].emergencyName; var emergencyPhone = memberArray[member].emergencyPhone; var player = memberArray[member].player; var array = memberArray %>
            <% include ../partial/memberEditForm %>
          </div>
        <% } %>
      <% }); %>
    <% } %>
  </div>
</div>

<% include ../partial/foot %>

<script id="manager-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" id="manager-form" style="margin:0;">
    <div class="column">
      <a class="black" href="" onclick="closeManagerForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" data-tooltip="ha" style="color: green;">Manage Managers</h2>
      <form class="ui large form" action="/team/<%= team._id %>/update" method="post">
        <div class="ui stacked segment">
          <label style="float: left;"><b>Manager(s)</b></label>
          <div class="field">
            <div class="ui fluid multiple search selection dropdown">
              <input type="hidden" name="managers">
              <i class="dropdown icon"></i>
              <div class="default text">Select Managers</div>
              <div class="menu">
                <% if (typeof userArray != 'undefined') { %>
                  <% for (var i in userArray) { %>
                    <div class="item" data-value="<%= i %>"><%= userArray[i].name %></div>
                  <% } %>
                <% } else { %>
                  <div class="item" data-value="">We were unable to retreive any users, please try again</div>
                <% } %>
              </div>
            </div>
          </div>
          <div id="submit-button" class="ui fluid black submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="manager-edit-button-template" type="text/template">
  <i id="edit-button" class="edit icon black"></i>
</script>

<script id="member-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="member-form">
    <div class="column">
      <a class="black" href="" onclick="closeMemberForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Add a Team Member
        </div>
      </h2>
      <form class="ui large form" action="/member" method="post" >
        <div class="ui stacked segment">
          <label style="float: left;"><b>Name</b></label>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="name-form" type="text" name="name" placeholder="Full Name">
            </div>
          </div>
          <div class="ui horizontal divider">
            optional
          </div>
          <div class="ui divider"></div>
          <div class="field">
            <label style="float: left;">Phone Number</label>
            <div class="ui left icon input">
              <i class="phone icon"></i>
              <input id="email-form" type="tel" name="phoneNumber" placeholder="Phone Number">
            </div>
          </div>
          <label style="float: left;"><b>Emergency Contact</b></label>
          <div class="field">
            <div class="two fields">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user md icon"></i>
                  <input id="emergency-name-form" type="text" name="emergencyName" placeholder="Full Name">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="phone square icon"></i>
                  <input id="emergency-phone-form" type="tel" name="emergencyPhone" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>
          <div class="ui field">
            <div class="ui checkbox" id="player-toggle">
              <label>Player?</label>
              <input class="checkbox" id="player-toggle" type="checkbox" name="player" />
            </div>
          </div>
          <div class="field" id="relationship-form">
            <div class="ui fluid multiple search selection dropdown">
              <input type="hidden" name="relationships">
              <i class="dropdown icon"></i>
              <div class="default text">Choose relationships</div>
              <div class="menu">
                <% if (typeof memberArray != 'undefined') { %>
                  <% for (var i in memberArray) { %>
                    <div class="item" data-value="<%= i %>"><%= memberArray[i].name %></div>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
          <div id="relationship-form-div"></div>
          <input type="hidden" name="teams" value="<%= team._id %>">
          <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="member-button-template" type="text/template">
  <i id="member-button" class="id card outline icon black"></i>
</script>

<script id="member-edit-button" type="text/template">
  <i id="member-{{id}}-edit-button" class="edit black icon floated right"></i>
</script>

<script id="trip-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="member-form">
    <div class="column">
      <a class="black" href="" onclick="closeTripForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Plan a Trip
        </div>
      </h2>
      <form class="ui large form" action="/trip" method="post" >
        <div class="ui stacked segment">
          <div class="two fields">
            <div class="field">
              <label style="float: left;"><b>Destination</b></label>
              <div class="ui left icon input">
                <i class="map icon"></i>
                <input id="destination-form" type="text" name="destination" placeholder="Where is the trip?">
              </div>
            </div>
            <div class="field">
              <label style="float: left;">Date</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="date-form" type="date" name="date">
              </div>
            </div>
          </div>
          <label style="float: left;"><b>Bus Company</b></label>
            <div class="field" id="bus-form">
              <div class="ui fluid search selection dropdown">
                <input type="hidden" name="busCompany">
                <i class="dropdown icon"></i>
                <div class="default text">Choose company</div>
                <div class="menu">
                  <div class="item" data-value=""> * No Company * </div>
                  <% if (typeof busArray != 'undefined') { %>
                    <% for (var i in busArray) { %>
                      <div class="item" data-value="<%= busArray[i] %>"><%= busArray[i] %></div>
                    <% } %>
                  <% } %>
                </div>
              </div>
            </div>
          <input type="hidden" name="team" value="<%= team._id %>">
          <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="trip-edit-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="member-form">
    <div class="column">
      <a class="black" href="" onclick="closeTripEditForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Edit this Trip
        </div>
      </h2>
      <div id="trip-remove-button" class="ui black button" style="background-color: green; float: right;" onclick="if(confirm('Are you sure?')){tripDeleteForm('{{id}}')}">
        <i class="trash icon"></i>
        Delete
      </div></br></br>
      <form class="ui large form" action="/trip/{{id}}/update" method="post" >
        <div class="ui stacked segment">
          <div class="two fields">
            <div class="field">
              <label style="float: left;"><b>Destination</b></label>
              <div class="ui left icon input">
                <i class="map icon"></i>
                <input id="destination-form" type="text" name="destination" placeholder="Where is the trip?" value="{{destination}}">
              </div>
            </div>
            <div class="field">
              <label style="float: left;">Date</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="date-form" type="date" name="date" value="{{date}}">
              </div>
            </div>
          </div>
          <input type="hidden" name="team" value="<%= team._id %>">
          <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="association-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" id="association-form-{{team}}" style="margin:0;">
    <div class="column">
      <a class="black" href="" onclick="closeAssociationForm('{{team}}')"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;">Select Association</h2>
      <form class="ui large form" action="/team/{{team}}/update" method="post">
        <div class="ui stacked segment">
          <label style="float: left;"><b>Association</b></label>
          <div class="field">
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="association">
              <i class="dropdown icon"></i>
              <div class="default text">Select Association</div>
              <div class="menu">
                <% if (typeof associationArray != 'undefined') { %>
                  <div class="item" data-value=""> * No Association * </div>
                  <% for (var i in associationArray) { %>
                    <div class="item" data-value="<%= i %>"><%= associationArray[i].name %></div>
                  <% } %>
                <% } else { %>
                  <div class="item" data-value="">We were unable to retreive any associations, please try again</div>
                <% } %>
              </div>
            </div>
          </div>
          <div id="submit-button" class="ui fluid black submit button" style="background-color: green;">Update</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="association-edit-button-template" type="text/template">
  <i id="edit-button-{{team}}" class="edit icon black"></i>
</script>

<script id="bus-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="bus-form">
    <div class="column">
      <a class="black" href="" onclick="closeBusForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Add a Bus Company
        </div>
      </h2>
      <form class="ui large form" action="/team/<%= team._id %>/update" method="post" >
        <div class="ui stacked segment">
          <div class="field">
            <label style="float: left;"><b>Company Name</b></label>
            <div class="ui left icon input">
              <i class="building icon"></i>
              <input id="company-form" type="text" name="busCompanies" placeholder="Company">
            </div>
          </div>
          <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="bus-form-button-template" type="text/template">
  <i id="bus-form-button" class="plus icon black"></i>
</script>

<script id="bus-edit-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="bus-{{companyId}}-edit-form">
    <div class="column">
      <a class="black" href="" onclick="closeBusEditForm('{{companyId}}')"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Edit Company
        </div>
      </h2>
      <div id="company-remove-button" class="ui black button" style="background-color: green; float: right;" onclick="if(confirm('Are you sure?')){companyDeleteForm('<%= team._id %>', '{{company}}')}">
        <i class="trash icon"></i>
        Delete
      </div></br></br>
      <form class="ui large form" action="/team/<%= team._id %>/update" method="post" >
        <div class="ui stacked segment">
          <div class="field">
            <label style="float: left;"><b>Company Name</b></label>
            <div class="ui left icon input">
              <i class="building icon"></i>
              <input id="company-form" type="text" name="busCompanies" placeholder="Company" value="{{company}}">
            </div>
          </div>
          <input type="hidden" name="prevCompanyName" value="{{company}}" />
          <div id="submit-button" class="ui fluid black large submit button" style="background-color: green;">Update</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="bus-edit-form-button-template" type="text/template">
  <i id="bus-form-button" class="edit icon black"></i>
</script>

<script id="account-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="account-form">
    <div class="column">
      <a class="black" href="" onclick="closeAccountForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Create a Team Login Account
        </div>
      </h2>
      <form class="ui large form" action="/user" method="post" >
        <div class="ui stacked segment">
          <div class="field">
            <label style="float: left;"><b>Account Email</b></label>
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input id="email-form" type="email" name="email" placeholder="Email" value="<%= teamAccount.email %>">
            </div>
          </div>
          <div class="field">
            <label style="float: left;"><b>Account Password</b></label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password-form" type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="field">
            <label style="float: left;"><b>Confirm Password</b></label>
            <div class="ui left icon input">
              <i id="confirm-icon" class="lock open icon"></i>
              <input id="confirm-form" type="password" name="confirm" placeholder="Confirm Password">
            </div>
          </div>
          <input type="hidden" name="name" value="<%= team.name %> Account" />
          <input type="hidden" name="association" value="<%= team.association %>" />
          <input type="hidden" name="teams" value="<%= new Array(team._id) %>" />
          <div id="submit-button" class="ui fluid disabled black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="account-form-button-template" type="text/template">
  <div class="ui right floated mini button" id="trip-form-button-holder" onclick="loadAccountForm(); return false;">Create Account</div>
</script>

<script id="account-edit-form-template" type="text/template">
  <div class="ui center aligned middle aligned grid segment" style="margin: 0;" id="account-edit-form">
    <div class="column">
      <a class="black" href="" onclick="closeAccountEditForm()"><i class="icon delete black" style="float: right; margin: none;" ></i></a>
      <h2 class="ui header" style="color: green;" >
        <div class="content">
          Edit Team Login Account
        </div>
      </h2>
      <form class="ui large form" action="/user/<%=teamAccount._id%>/update" method="post" >
        <div class="ui stacked segment">
          <div class="field">
            <label style="float: left;"><b>Account Email</b></label>
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input id="email-form" type="email" name="email" placeholder="Email" value="<%= teamAccount.email %>">
            </div>
          </div>
          <div class="field">
            <label style="float: left;"><b>Account Password</b></label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password-form" type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="field">
            <label style="float: left;"><b>Confirm Password</b></label>
            <div class="ui left icon input">
              <i id="confirm-icon" class="lock open icon"></i>
              <input id="confirm-form" type="password" name="confirm" placeholder="Confirm Password">
            </div>
          </div>
          <div id="submit-button" class="ui fluid disabled black large submit button" style="background-color: green;">Create</div>
        </div>
      </form>
    </div>
  </div>
</script>

<script id="account-edit-form-button-template" type="text/template">
  <div class="ui right floated mini button" id="trip-form-button-holder" onclick="loadAccountEditForm(); return false;">Create Account</div>
</script>