<% include ../partial/head %>

<h1 class="header"><%= user.firstName %> <%= user.lastName %></h1>

<h5 class="header">Team(s)</h5>
<% user.teams.forEach((team) => { %>
  <div class="ui segment">
    <%= teamArray[team].name %> - <%= teamArray[team].age %> <%= teamArray[team].league %>
  </div>
<% }); %>

<% include ../partial/foot %>